mixin createPost(userLoggedIn)
    .postFormWrap 
        .userImageWrap 
            img(src=userLoggedIn.profilePic, alt="Profile Picture")
        .textContainer 
            textarea#postText(placeholder="Write something...")
            .postButtons
                button#postSubmit.btn.btn-primary(disabled="") Post

mixin popupReply(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replyModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    #modal-postContainer
                    .postFormWrap
                        .userImageWrap 
                            img(src=userLoggedIn.profilePic, alt="Profile Picture")
                        .textContainer 
                            textarea#replyText(placeholder="Write something...")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                    button#submitReplyBtn.btn.btn-primary(type='button', disabled="") Submit Reply

mixin deletePostModal()
    #deletePostModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deletePostModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#deletPostModalLabel.modal-title Delete Post?
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    p You won't be able to undo this.
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
                    button#deletePostBtn.btn.btn-primary(type='button') Confirm Delete

mixin createPostModals(userLoggedIn)
    +popupReply(userLoggedIn)
    +deletePostModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Following" : "Follow"
    - buttonClass = isFollowing ? "followBtn following" : "followBtn"
    button(class=buttonClass class="profileButton", data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab activeTab" : "tab"
    a(href=href, class=className)
        span #{name}